/.idea/.gitignore
/Noob Projetcs/.idea/.gitignore
/Noob Projetcs/Calculator/Calculator.iml
/.idea/Java-Projects.iml
/.idea/misc.xml
/Noob Projetcs/.idea/misc.xml
/Noob Projetcs/Calculator/.idea/misc.xml
/.idea/modules.xml
/Noob Projetcs/.idea/modules.xml
/Noob Projetcs/Calculator/.idea/modules.xml
/Noob Projetcs/Noob Projetcs.iml
/.idea/vcs.xml
/Noob Projetcs/.idea/vcs.xml
/Noob Projetcs/Calculator/.idea/vcs.xml
